@model App.Admin.Models.ViewModels.Category.EditCategoryViewModel

<h2>Edit Category</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success col-12 text-center">
        @TempData["SuccessMessage"]
        <a asp-action="List" class="btn btn-outline-primary ml-auto">Return to List</a>
    </div>
}
<form asp-controller="Category" asp-action="Edit" asp-route-categoryId="@Model.CategoryId" method="post">
    <div class="form-group col-12">
        <label asp-for="Name">Category Name</label>
        <input class="form-control" asp-for="Name" required />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group col-1">
        <label asp-for="Color">Category Color</label>
        <input class="form-control" asp-for="Color" type="color" />
        <span class="text-danger" asp-validation-for="Color"></span>
    </div>
    <div class="form-group col-12">
        <label asp-for="IconCssClass">Category Icon Css Class</label>
        <input class="form-control" asp-for="IconCssClass" required />
        <span class="text-danger" asp-validation-for="IconCssClass"></span>
    </div>
    <div class="form-group btn-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="List" class="btn btn-outline-primary">Return to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
